out
node_modules
client/server
.vscode-test
**/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
**/dist
dist
.vscode/numbered-bookmarks.json
jack-compiler/grammar/.antlr
**/.vscode/numbered-bookmarks.json
**/.antlr