out
node_modules
client/server
.vscode-test
**/*.tsbuildinfo
**/dist
dist
.vscode/numbered-bookmarks.json
jack-compiler/grammar/.antlr
**/.vscode/numbered-bookmarks.json
**/.antlr
.idea
**/*.iml
build